@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    margin: '0px';
    padding: '0px';
    display: block;
    place-items: center;
    /* min-width: '320px';
    min-height: 100vh; */
    background: theme(colors.background);

    background-attachment: fixed;
    background-size: cover;
    min-height: '100vh';
    color: theme(colors.gray.400);
  }
}

@font-face {
  font-family: 'Digital-7';
  src: url('./fonts/digital-7.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #082032;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
